*{
  font-family: Verdana;
}

header{
  text-align: center;
  margin:15px;
}

section{
  text-align: center;
}

textarea{
  margin:5px;
  border-top-width: 10px;
  border-right-width: 1em;
  border-bottom-width: thick;
  border-left-width: thin;
  border-color: #ffa50a;
}

input[type="submit"]{
  background-color: #ffa50a;
  margin-top: 10px;
  cursor:pointer;
  border: 1px solid #ffa50a;
}

input[type="text"]{
  border: 1px solid #ffa50a;
}

#css_title{
  text-align: left;
  border:1px solid #ffa50a;
  width: 25%;
}

#css_post{
  text-align: justify;
  border:1px solid black;
  background-color: #ffa50a;
  color:white;
  width: 50%;
  height: 30%;
  padding: 1px;
  margin: 2px;
}

h3{
  margin: 1px;
}
